@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #09090b;
}

::selection {
  background-color: rgb(103, 232, 249);
  color: rgb(21, 65, 71);
}

.shadow-cyan-glow:hover {
  --tw-shadow: 0px 1px 20px rgba(94, 176, 239, 0.3);
  --tw-shadow-colored: 0px 1px 20px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/inter/static/Inter-ExtraBold.ttf) format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/inter/static/Inter-Bold.ttf) format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/inter/static/Inter-SemiBold.ttf) format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/inter/static/Inter-Medium.ttf) format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/inter/static/Inter-Regular.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/inter/static/Inter-Light.ttf) format("truetype");
  font-weight: 300;
}
